header{
    height: 250px;
    background-image: url(../img/flag.jpg);
    text-align: right;
    
    
}
#spa{
    font-family: 'Yatra One', cursive;
    color: rgb(255, 187, 0);
    position: relative;
    margin-right: 200px;
    font-size: 90px;
   padding-top: 50px;

}
#len{
    margin-right: 40px;
    font-family: 'Yatra One', cursive;
    color: white;
}

main{
    padding-right: 10px;
    padding-left: 60px;
    padding-bottom: 50px;
}
.prava{
    margin-left: 50px;
}
.nadpis1{
    padding: 5px;
    background-color: rgb(203, 40, 33);
}
.nadpis2{
    padding: 5px;
    background-color: darkgray;
}
.pozadi1{
    background-image: url(../img/znak.png);
}
#coursive{
    color: orangered;
}
h4{
    margin-left:7px;
   color: rgb(203, 40, 33);
   font-weight: 700!important;
   
}
p{
    padding: 5px!important;
    font-size: larger;
}
.udaje{
    color: rgb(203, 40, 33);
    
}
figcaption{
    font-size: 10px;
}
#zdroj{
    color:rgb(203, 40, 33);
}

  
  .sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    
    overflow-x: hidden;
    padding: 8px 0;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color:white;
    display: block;
  }
  
  .sidenav a:hover {
    color:rgb(203, 40, 33);
  }
  
  .main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  html{
    scroll-behavior: smooth;
  }